In [1]:
# KNN - Evaluation method 1 (iris dataset)
# input test sample (sl, sw, pl, pw)
# output - class prediction
# number of neighbors, K = 1, 3, 5, 7, 9 ...

import time
import random
from math import *
import operator
import pandas as pd
import numpy as np

# import plotting libraries
import matplotlib
import matplotlib.pyplot as plt
from pandas.plotting import scatter_matrix
%matplotlib inline 

import seaborn as sns
sns.set(style="white", color_codes=True)
sns.set(font_scale=1.5)

# import the ML algorithm
from sklearn.linear_model import LinearRegression
#import statsmodels.api as smdl
from statsmodels.tools.eval_measures import rmse

# import libraries for model validation
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split

# import libraries for metrics and reporting
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn import metrics

inputarray = []

In [ ]:
# K = number of nearest neighbors for the test pattern
K1 = input('lower limit of range of k : ')
#K2 = input('upper limit of range of k : ')

In [ ]:
inputarray.append(input('first attribute : '))
inputarray.append(input('second attribute : '))
inputarray.append(input('third attribute : '))
inputarray.append(input('fourth attribute : '))

In [5]:
inputarray

['10', '20', '30', '40']

In [6]:
location = r"F:\Educational Data\Simplilearn\ML\Files\datasets\iris.csv"

In [7]:
# df_iris = pd.read_csv(location,
#                  header=None,
#                  names=['sepal_length','sepal_width', 'petal_length', 'petal_width', 'Class_name', 'distance'])
df_iris = pd.read_csv(location)

In [8]:
df_iris.shape

(150, 5)

In [9]:
df_iris.head(5)

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [10]:
# add a column called 'distance'
df_iris['distance'] = 0
df_iris

,sepal_length,sepal_width,petal_length,petal_width,class,distance
0,5.1,3.5,1.4,0.2,Iris-setosa,0
1,4.9,3.0,1.4,0.2,Iris-setosa,0
2,4.7,3.2,1.3,0.2,Iris-setosa,0
3,4.6,3.1,1.5,0.2,Iris-setosa,0
4,5.0,3.6,1.4,0.2,Iris-setosa,0
5,5.4,3.9,1.7,0.4,Iris-setosa,0
6,4.6,3.4,1.4,0.3,Iris-setosa,0
7,5.0,3.4,1.5,0.2,Iris-setosa,0
8,4.4,2.9,1.4,0.2,Iris-setosa,0
9,4.9,3.1,1.5,0.1,Iris-setosa,0
10,5.4,3.7,1.5,0.2,Iris-setosa,0
11,4.8,3.4,1.6,0.2,Iris-setosa,0
12,4.8,3.0,1.4,0.1,Iris-setosa,0
13,4.3,3.0,1.1,0.1,Iris-setosa,0
14,5.8,4.0,1.2,0.2,Iris-setosa,0
15,5.7,4.4,1.5,0.4,Iris-setosa,0
16,5.4,3.9,1.3,0.4,Iris-setosa,0
17,5.1,3.5,1.4,0.3,Iris-setosa,0
18,5.7,3.8,1.7,0.3,Iris-setosa,0
19,5.1,3.8,1.5,0.3,Iris-setosa,0
20,5.4,3.4,1.7,0.2,Iris-setosa,0
21,5.1,3.7,1.5,0.4,Iris-setosa,0
22,4.6,3.6,1.0,0.2,Iris-setosa,0
23,5.1,3.3,1.7,0.5,Iris-setosa,0
24,4.8,3.4,1.9,0.2,Iris-setosa,0
25,5.0,3.0,1.6,0.2,Iris-setosa,0
26,5.0,3.4,1.6,0.4,Iris-setosa,0
27,5.2,3.5,1.5,0.2,Iris-setosa,0
28,5.2,3.4,1.4,0.2,Iris-setosa,0
29,4.7,3.2,1.6,0.2,Iris-setosa,0
...,...,...,...,...,...,...
120,6.9,3.2,5.7,2.3,Iris-virginica,0
121,5.6,2.8,4.9,2.0,Iris-virginica,0
122,7.7,2.8,6.7,2.0,Iris-virginica,0
123,6.3,2.7,4.9,1.8,Iris-virginica,0
124,6.7,3.3,5.7,2.1,Iris-virginica,0
125,7.2,3.2,6.0,1.8,Iris-virginica,0
126,6.2,2.8,4.8,1.8,Iris-virginica,0
127,6.1,3.0,4.9,1.8,Iris-virginica,0
128,6.4,2.8,5.6,2.1,Iris-virginica,0
129,7.2,3.0,5.8,1.6,Iris-virginica,0
130,7.4,2.8,6.1,1.9,Iris-virginica,0
131,7.9,3.8,6.4,2.0,Iris-virginica,0
132,6.4,2.8,5.6,2.2,Iris-virginica,0
133,6.3,2.8,5.1,1.5,Iris-virginica,0
134,6.1,2.6,5.6,1.4,Iris-virginica,0
135,7.7,3.0,6.1,2.3,Iris-virginica,0
136,6.3,3.4,5.6,2.4,Iris-virginica,0
137,6.4,3.1,5.5,1.8,Iris-virginica,0
138,6.0,3.0,4.8,1.8,Iris-virginica,0
139,6.9,3.1,5.4,2.1,Iris-virginica,0
140,6.7,3.1,5.6,2.4,Iris-virginica,0
141,6.9,3.1,5.1,2.3,Iris-virginica,0
142,5.8,2.7,5.1,1.9,Iris-virginica,0
143,6.8,3.2,5.9,2.3,Iris-virginica,0
144,6.7,3.3,5.7,2.5,Iris-virginica,0
145,6.7,3.0,5.2,2.3,Iris-virginica,0
146,6.3,2.5,5.0,1.9,Iris-virginica,0
147,6.5,3.0,5.2,2.0,Iris-virginica,0
148,6.2,3.4,5.4,2.3,Iris-virginica,0
149,5.9,3.0,5.1,1.8,Iris-virginica,0

In [11]:
# display the test sample 
inputarray

['10', '20', '30', '40']

In [12]:
# for each row in the dataframe, calculate the distance
for index, row in df_iris.iterrows():
    eucDist = sqrt(((float(inputarray[0]) - float(row['sepal_length'])) ** 2 +
                    (float(inputarray[1]) - float(row['sepal_width'])) ** 2 +
                    (float(inputarray[2]) - float(row['petal_length'])) ** 2 +
                    (float(inputarray[3]) - float(row['petal_width'])) ** 2))

    df_iris.loc[index, 'distance'] = eucDist

In [13]:
2 ** 5

32

In [14]:
df_iris.head()

,sepal_length,sepal_width,petal_length,petal_width,class,distance
0,5.1,3.5,1.4,0.2,Iris-setosa,51.944778
1,4.9,3.0,1.4,0.2,Iris-setosa,52.124946
2,4.7,3.2,1.3,0.2,Iris-setosa,52.135017
3,4.6,3.1,1.5,0.2,Iris-setosa,52.067840
4,5.0,3.6,1.4,0.2,Iris-setosa,51.922635

In [15]:
# sort on distance, ascending.
df_iris.sort_values('distance', ascending=True, inplace=True)

In [16]:
df_iris.head(15)

,sepal_length,sepal_width,petal_length,petal_width,class,distance
117,7.7,3.8,6.7,2.2,Iris-virginica,47.322933
109,7.2,3.6,6.1,2.5,Iris-virginica,47.479048
118,7.7,2.6,6.9,2.3,Iris-virginica,47.570474
131,7.9,3.8,6.4,2.0,Iris-virginica,47.621529
100,6.3,3.3,6.0,2.5,Iris-virginica,47.695178
105,7.6,3.0,6.6,2.1,Iris-virginica,47.736045
144,6.7,3.3,5.7,2.5,Iris-virginica,47.817570
135,7.7,3.0,6.1,2.3,Iris-virginica,47.820393
122,7.7,2.8,6.7,2.0,Iris-virginica,47.833252
143,6.8,3.2,5.9,2.3,Iris-virginica,47.901774
136,6.3,3.4,5.6,2.4,Iris-virginica,47.941318
120,6.9,3.2,5.7,2.3,Iris-virginica,47.996146
140,6.7,3.1,5.6,2.4,Iris-virginica,48.016872
102,7.1,3.0,5.9,2.1,Iris-virginica,48.110602
104,6.5,3.0,5.8,2.2,Iris-virginica,48.122032

In [17]:
type(K1)

str

In [18]:
K1

'1'

In [19]:
# select the first K rows, into a new df
k = int(K1)

df_iris_k = df_iris.iloc[0:k, :].copy()

In [20]:
df_iris_k.shape

(1, 6)

In [21]:
df_iris_k

,sepal_length,sepal_width,petal_length,petal_width,class,distance
117,7.7,3.8,6.7,2.2,Iris-virginica,47.322933

In [ ]:
df_iris_k['class'].value_counts()

In [ ]:
df_iris_k_grouped = df_iris_k['class'].value_counts()

In [24]:
df_iris_k_grouped

Iris-versicolor    3
Iris-virginica     2
Name: class, dtype: int64

In [25]:
# Let's see how many examples we have of each species
df_iris["class"].value_counts()

Iris-virginica     50
Iris-versicolor    50
Iris-setosa        50
Name: class, dtype: int64

In [22]:
df_iris_k_grouped.index[0]

'Iris-versicolor'